@use 'sass:color';
@use 'variables' as vars;
@use 'mixins' as mix;

.about-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: vars.$padding-large;
  background-color: vars.$background-color;
  border-radius: vars.$border-radius;
  box-shadow: vars.$shadow;
  text-align: center;

  /* Überschrift */
  .about-header {
    h2 {
      font-size: vars.$font-size-xlarge;
      margin-bottom: vars.$padding-medium;
      color: vars.$primary-color;
      font-family: vars.$font-family;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  /* Inhalt */
  .about-content {
    p {
      font-size: vars.$font-size-large;
      line-height: 1.8;
      color: vars.$text-color;
      font-family: vars.$font-family;
      margin-bottom: vars.$padding-medium;
      text-align: justify;
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-page {
    padding: vars.$padding-medium;
  }

  .about-header h2 {
    font-size: vars.$font-size-large;
  }

  .about-content p {
    font-size: vars.$font-size-base;
  }
}

@media (max-width: 480px) {
  .about-page {
    padding: vars.$padding-small;
  }

  .about-header h2 {
    font-size: vars.$font-size-base;
  }

  .about-content p {
    font-size: vars.$font-size-small;
  }
}
