<div class="about-page">
    <h2>Über Isabel Kunz</h2>
    <p>
      Isabel Kunz ist eine leidenschaftliche Künstlerin, die die Farbenlehre mit innovativen Maltechniken verbindet, um einzigartige Kunstwerke zu schaffen. Ihre Reise begann schon in ihrer Kindheit, als sie von den leuchtenden Farben und faszinierenden Formen in ihrer Umgebung inspiriert wurde.
    </p>
    <p>
      Durch zahlreiche Weiterbildungen und Ausbildungen hat Isabel ihr künstlerisches Können stetig erweitert. Heute teilt sie ihre Leidenschaft und Kreativität in inspirierenden Workshops, die sowohl Anfänger als auch Fortgeschrittene ansprechen.
    </p>
    <p>
      Isabels Ansatz ist geprägt von Offenheit und Spontanität, wodurch ein freier und geschützter Raum für kreativen Ausdruck entsteht. Ihre Workshops bieten nicht nur Techniken, sondern auch eine Reise zu sich selbst durch die Welt der Farben und Formen.
    </p>
  </div>
  