<section class="hero">
    <div class="hero-background" data-aos="fade"></div>
    <div class="hero-content" data-aos="fade-up">
      <div class="typing-text">
        <span id="typed-text"></span>
        <div id="typed-strings" style="display: none;">
          <p>Entfalte deine Kreativität</p>
          <p>Lass dich inspirieren</p>
          <p>Kunst erleben!</p>
        </div>
        <noscript>Entfalte deine Kreativität</noscript>
      </div>

      <p class="hero-subtitle fade-in" data-aos="fade-up" data-aos-delay="200">
        In meinen Workshops und Malangeboten kannst du Farben intuitiv erleben und deine eigene künstlerische Sprache finden.
      </p>
      <button (click)="navigateToWorkshops()" class="btn-cta" data-aos="fade-up">
        Jetzt entdecken!
      </button>
    </div>
  </section>
  