<div class="legal-container">
  <br />
  <p>Zuletzt aktualisiert am: 05.02.2025</p>
  <br />
  <p>
    Wir legen grossen Wert darauf, dass der Umgang mit Personendaten transparent
    ist. Diese Datenschutzerklärung gibt Auskunft darüber, welche
    personenbezogenen Daten wir sammeln, zu welchem Zweck und an wen wir sie
    weitergeben. Um eine hohe Transparenz zu gewährleisten, wird diese
    Datenschutzerklärung regelmässig überprüft und aktualisiert.
  </p>
  <br />
  <h2>1. Welche Dienste wir nutzen</h2>
  <ul>
    <li>Google Fonts API</li>
    <li>Google Hosted Libraries</li>
    <li>Cookiebot</li>
    <li>Firebase</li>
  </ul>
  <br />
  <h2>2. Kontaktinformationen</h2>
  <p>
    Bei Fragen oder Anliegen zum Schutz Ihrer Daten durch uns erreichen Sie uns
    jederzeit per E-Mail unter <a href="mailto:malbegleiterin&#64;malspirale.ch">malbegleiterin&#64;malspirale.ch</a>.
    Verantwortlich für die Datenbearbeitungen, die über diese Website erfolgen, ist:
  </p>
  <br />
  <p>
    Isabel Kunz-Schindler<br />teststrasse<br />3148 testingen<br />Schweiz<br /><br />
    <strong>Datenschutzverantwortliche Person:</strong><br />
    Isabel Kunz-Schindler<br />
    <a href="mailto:malbegleiterin&#64;malspirale.ch">malbegleiterin&#64;malspirale.ch</a><br />
    000 000 00 00
  </p>
  <br />
  <h2>3. Allgemeine Grundsätze</h2>
  <h3>3.1 Welche Daten sammeln wir von Ihnen?</h3>
  <ul>
    <li>Personenstammdaten (Name, Adresse, Geburtsdaten, etc.)</li>
    <li>Kontaktdaten (Handynummer, E-Mailadresse, etc.)</li>
    <li>Finanzdaten (bspw. Kontoangaben)</li>
    <li>Onlinekennungen (bspw. Cookie-Kennung, IP-Adressen)</li>
    <li>Standort- und Verkehrsdaten</li>
    <li>Ton- und Bildaufnahmen</li>
    <li>Besonders schützenswerte Daten (z.B. Gesundheitsdaten)</li>
  </ul>
  <br />
  <p class="dev-note">
    Entwickelt von <a href="https://marco-ammann.ch" target="_blank">Marco Ammann</a>
  </p>
</div>
