@use 'sass:color';
@use 'variables' as vars;
@use 'mixins' as mixins;

.active {
  background-color: vars.$accent-color;
  padding: 0.5rem 1rem;
  border-radius: vars.$border-radius;
}

:host {
  position: sticky;
  top: 0;
  z-index: 999;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(vars.$primary-color, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: vars.$header-height;
  transition: background 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &.scrolled {
    background: rgba(vars.$primary-color, 0.7);
    backdrop-filter: blur(8px);
  }
  .brand h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: vars.$text-color-light;
  }

  .desktop-nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a, .dropdown-toggle {
      text-decoration: none;
      font-size: 1rem;
      color: vars.$text-color-light;
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        color: vars.$accent-color;
      }
    }

    .active {
      color: vars.$text-color;
      transition: ease-in-out 0.3s;
      background-color: vars.$background-color;

      &:hover {
        background-color: vars.$accent-color;
        color: vars.$text-color;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: vars.$background-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 0.5rem;
        border-radius: vars.$border-radius;
        z-index: 999;
        width: max-content;

        a {
          display: block;
          padding: 0.5rem 1rem;
          color: vars.$text-color;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          border-radius: vars.$border-radius;


          &:hover {
            color: vars.$text-color;
            background-color: vars.$tertiary-color;
          }
        }
      }

      &.open .dropdown-menu {
        display: block;
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    .menu-icon {
      width: 32px;
      height: 32px;
    }
  }

  .mobile-nav {
    display: none;
  }

  .user-menu {
    .user-icon {
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: 768px) {
    .desktop-nav {
      display: none;
    }

    .menu-toggle {
      display: block;
    }

    .mobile-nav {
      display: none;
      flex-direction: column;
      gap: 1rem;
      background: vars.$background-color;
      padding: 1rem;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: vars.$border-radius;
      text-align: center;

      &.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
      }


      a {
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        color: vars.$text-color;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border-radius: vars.$border-radius;


        &:hover {
          color: vars.$text-color;
          background-color: vars.$tertiary-color;
        }


      }


      .dropdown {
        position: static;
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: vars.$border-radius;

        &:hover {
          background-color: vars.$accent-color;
        }



        .dropdown-menu {
          display: none;
          position: static;
          background: none;
          box-shadow: none;

          a {
            padding: 0.5rem 1rem;
            color: vars.$text-color;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            border-radius: vars.$border-radius;

            &:hover {
              color: vars.$text-color;
              background-color: vars.$tertiary-color;
            }
          }
        }

        &.open .dropdown-menu {
          display: block;
        }

        .user-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          padding: 1rem;

        }
        .user-icon {
          width: 32px;
          height: 32px;
          // darken the svg icon
          filter: invert(0.7);
        }

      }
    }
  }
}
