@use 'sass:color';
@use 'sass:math';
@use 'variables' as vars;
@use 'mixins' as mix;

:host {
  display: flex;
  flex-direction: column;
  gap: vars.$container-gap-large;
  background-color: vars.$background-color;
}
