@use "variables" as vars;
@use "mixins" as mix;

.farben-page {
  max-width: 900px;
  margin: auto;
  padding: vars.$container-padding-large;
}

.farben-list {
  display: flex;
  flex-direction: column;
  gap: vars.$padding-medium;
  margin-top: vars.$padding-large;
}

.farbe {
  display: flex;
  background: vars.$background-light;
  padding: vars.$padding-medium;
  border-radius: vars.$border-radius-large;
  box-shadow: vars.$box-shadow;
}

.farblinie {
  width: 8px;
  border-radius: 4px;
  margin-right: vars.$padding-medium;
}

.farbtext {
  flex: 1;

  h3 {
    margin: 0;
    font-size: vars.$font-size-xlarge;
  }

  p {
    margin: vars.$padding-small 0;
    font-size: vars.$font-size-large;
  }
}

@media (max-width: 768px) {
  .farben-page {
    padding: vars.$container-padding;
  }

  .farbe {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: vars.$padding-medium;
    justify-content: start;
    margin: 0;
  }

  .farblinie {
    height: 8px;
    width: 70%;
  }

  .farbtext {
    h3 {
      font-size: vars.$font-size-large;
    }

    p {
      font-size: vars.$font-size-medium;
    }
  }


}

@media (max-width: 480px) {
  .farben-page {
    padding: vars.$container-padding;
  }

  h2 {
    font-size: vars.$font-size-xlarge;
  }

  p {
    font-size: vars.$font-size-medium;
  }

  .farbe {
    padding: vars.$padding-small;
    justify-content: start;
  }

  .farblinie {
    margin: 0;
  }


  .farbtext {
    text-align: start;
    h3 {
      font-size: vars.$font-size-medium;
    }

    p {
      font-size: vars.$font-size-small;
    }
  }
}

@media (max-width: 320px) {
  .farben-page {
    padding: vars.$container-padding;
  }

  h2 {
    font-size: vars.$font-size-large;
  }



  .farbe {
    padding: vars.$padding-small;
  }
}
