@use 'sass:color';
@use 'variables' as vars;

.farben-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: vars.$padding-large;

  h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    color: vars.$accent-color-dark;
    margin-bottom: vars.$padding-large;
    text-transform: uppercase;
  }

  p {
    font-size: vars.$font-size-medium;
    line-height: 1.7;
    color: vars.$text-color;
    text-align: center;
    margin-bottom: vars.$padding-large;
  }

  .farben-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: vars.$padding-large;
    
    .farbe {
      background: linear-gradient(135deg, vars.$background-light, vars.$background-whiter);
      backdrop-filter: blur(8px);
      padding: vars.$padding-medium;
      border-radius: vars.$border-radius;
      box-shadow: vars.$box-shadow;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      
      .farblinie {
        height: 5px;
        border-radius: vars.$border-radius-small;
        margin-bottom: vars.$padding-small;
      }
      
      .farbtext {
        h3 {
          font-size: vars.$font-size-large;
          color: vars.$accent-color-dark;
          margin-bottom: vars.$padding-small;
        }
        
        p {
          font-size: vars.$font-size-base;
          line-height: 1.7;
          color: vars.$text-color;
          margin-bottom: vars.$padding-small;
        }
      }
    }
  }
}

/* Responsive bis 320px */
@media (max-width: vars.$tablet) {
  .farben-page {
    padding: 0!important;
  }
  h2 {
    font-size: 1.5rem!important;
  }
  p {
    font-size: vars.$font-size-base!important;
  }
  .farben-list {
    grid-template-columns: 1fr!important;
    gap: vars.$padding-small!important;
    padding: vars.$padding-small!important;
  }

  .farbe {
    width: 100%;
  }
}
