<section class="workshops-teaser" data-aos="fade-in">
  <div class="workshops-teaser-content">
    <h2>Entdecke meine Workshops und Angebote</h2>
    <p>
      Ich lade dich herzlich ein, in meine Welt der Farben und kreativen
      Möglichkeiten einzutauchen. In meinen Workshops zeige ich dir, wie du
      deine eigene künstlerische Sprache entwickeln kannst – ob im
      inspirierenden Malatelier oder in individuellen Beratungsgesprächen.
    </p>
    <div class="workshops-teaser-extra">
      <img src="assets/images/art17.webp" alt="Workshop Vorschau" />
      <p>
        Lass dich von innovativen Techniken und spannenden Projekten
        überraschen. Erlebe, wie ich persönlich deine kreative Reise
        unterstütze.
      </p>
      <a (click)="navigateTo('workshops')" class="brk-btn">
        Alle Workshops anzeigen
      </a>
    </div>
    <div class="ask-for-workshop-div">
      <h3>Individuelle Workshops</h3>
      <p>
        Du möchtest einen Workshop für dich und deine Freunde oder Kollegen
        buchen? Oder hast spezielle Wünsche für ein kreatives Event? Ich
        freue mich auf deine
        <a class="underlined-a" (click)="navigateTo('contact')">Anfrage</a>.
      </p>
      <a (click)="navigateTo('contact')" class="brk-btn">
        Workshop anfragen
      </a>

    </div>
  </div>

</section>

