<div class="legal-container">
  <div class="content-generator-output">
    <b>Verantwortliche Instanz:</b><br />
    Isabel Kunz-Schindler<br />ausstehend<br />0000 ausstehend<br />Schweiz<br />
    <strong>E-Mail:</strong> <a href="mailto:malbegleiterin&#64;malspirale.ch">malbegleiterin&#64;malspirale.ch</a><br /><br />

    <strong>Haftungsausschluss</strong><br />
    Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit,
    Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.<br />
    Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art,
    die aus der Nutzung oder Nichtnutzung der veröffentlichten Informationen
    entstanden sind, werden ausgeschlossen.<br /><br />

    <strong>Haftungsausschluss für Links</strong><br />
    Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
    Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten
    abgelehnt.<br /><br />

    <strong>Urheberrechtserklärung</strong><br />
    Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder
    anderen Dateien auf dieser Website gehören ausschliesslich Isabel
    Kunz-Schindler oder den speziell genannten Rechteinhabern.<br /><br />

    <strong>Quelle:</strong>
    <a href="https://brainbox.swiss/">BrainBox Solutions</a>
  </div>

  <p class="dev-note">
    Entwickelt von <a href="https://marco-ammann.ch" target="_blank">Marco Ammann</a>
  </p>
</div>
