@use "variables" as vars;
@use "mixins" as mix;

.workshop-detail {
  max-width: 800px;
  margin: auto;
  padding: vars.$padding-large;
  text-align: center;

  .location {
    font-size: vars.$font-size-large;
    color: vars.$text-light;
  }

  .workshop-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: vars.$padding-small;
    margin-top: vars.$padding-medium;

    .gallery-item {
      width: 100%;
      max-width: 350px;
      border-radius: vars.$border-radius;
      box-shadow: vars.$shadow;

      img {
        width: 100%;
        border-radius: vars.$border-radius;
      }
    }
  }

  .workshop-info {
    text-align: left;
    margin-top: vars.$padding-medium;
    font-size: vars.$font-size-medium;
  }

  .btn {
    display: block;
    margin: vars.$padding-medium auto;
    width: fit-content;
  }
}
