@use 'sass:color';
@use 'variables' as vars;

.philosophie-header {
  background: linear-gradient(135deg, rgba(255,255,255,0.8), rgba(255,255,255,0.6));
  backdrop-filter: blur(10px);
  padding: vars.$padding-large;
  text-align: center;
  border-radius: vars.$border-radius;
  box-shadow: vars.$box-shadow;
  h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: vars.$accent-color-dark;
    margin-bottom: vars.$padding-medium;
  }
  p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: vars.$text-color;
  }
}

.philosophie-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: vars.$padding-large;
  display: flex;
  flex-direction: column;
  gap: vars.$padding-large;
  
  h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    color: vars.$accent-color-dark;
    margin-bottom: vars.$padding-medium;
    text-transform: uppercase;
  }
  
  .intro {
    font-size: vars.$font-size-medium;
    text-align: center;
    color: vars.$text-color;
    margin-bottom: vars.$padding-medium;
    line-height: 1.7;
  }
  
  .sub-nav {
    display: flex;
    justify-content: center;
    gap: vars.$padding-medium;
    margin-bottom: vars.$padding-large;
    
    a {
      text-decoration: none;
      font-size: vars.$font-size-base;
      color: vars.$link-color;
      transition: color 0.3s ease, border-bottom 0.3s ease;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      
      &:hover,
      &.active {
        color: vars.$accent-color;
        border-bottom: 2px solid vars.$accent-color;
      }
    }
  }
  
  .philosophie-content {
    background: linear-gradient(135deg, vars.$background-light, vars.$background-whiter);
    backdrop-filter: blur(8px);
    padding: vars.$padding-large;
    border-radius: vars.$border-radius;
    box-shadow: vars.$box-shadow;
    color: vars.$text-color;
    font-size: vars.$font-size-medium;
  }


  
}

@media (max-width: #{vars.$tablet}) {
  .philosophie-page {
    padding: vars.$padding-large vars.$padding-small!important;
  }
  
  h2 {
    font-size: 1.75rem!important;
  }
  
  .intro, .philosophie-content {
    font-size: vars.$font-size-base!important;
    padding: vars.$padding-small!important;
  }

  
  .sub-nav {
    flex-direction: column;
    gap: vars.$padding-small!important;
  }
}
