// src/styles.scss

@use 'sass:color'; // nur falls du hier selbst lighten/darken brauchst
@use 'variables' as vars;
@use 'mixins' as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family;
  background-color: vars.$background-color;
  color: vars.$text-color;
}
