<footer class="app-footer">
  <p>
    &copy; 2025 Isabel Kunz |
    <a routerLink="/datenschutz">Datenschutz</a> |
    <a routerLink="/impressum">Impressum</a>
  </p>
  <!-- <div class="social-media">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <img src="assets/icons/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://twitter.com" target="_blank" aria-label="Twitter">
      <img src="assets/icons/twitter.svg" alt="Twitter" />
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <img src="assets/icons/instagram.svg" alt="Instagram" />
    </a>
  </div> -->
</footer>
