@use 'sass:color';
@use 'variables' as vars;

.app-footer {
  // alt: darken($primary-color, 10%)
  background-color: color.adjust(vars.$primary-color, $lightness: -10%);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  height: vars.$footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
