@use 'sass:color';
@use 'variables' as vars;

.app-footer {
  background: vars.$background-light;
  padding: vars.$padding-medium;
  text-align: center;
  border-top: 1px solid vars.$secondary-color-light;
  font-size: vars.$font-size-base;

  p {
    margin: vars.$padding-small 0;
    color: vars.$text-color;
  }


  .dev-link {
    font-weight: vars.$font-weight-normal;
    color: vars.$accent-color;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &:hover {
      color: vars.$accent-color-dark;
      text-shadow: 0px 0px 8px rgba(216, 191, 216, 0.8);
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background: vars.$accent-color-dark;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}
